image: ruby 2.4.2

stages:
  - build
  - test
  - review

variables:
  DATABASE_URL: 'mongodb://mongo/user_posts'

before_script:
#  - apk update
#  - apk add ruby-dev ruby-bundler ruby-rdoc
#  - gem install bcrypt -v '3.1.11'
#  - gem install bundler:1.16.1
  - cd reddit
  - bundle install

  
build_job:
  stage: build
  script:
    - echo 'B32udd8ildin'

test_unit_job:
  stage: test
  services:
    - mongo:latest
  script:
    - ruby simpletest.rb

test_integration_job:
  stage: test
  script:
    - echo 'Testing 2'

deploy_dev_job:
  stage: review
  script:
    - echo 'Deploy'
  environment:
    name: dev
    url: http://dev.example.com

